*~
*sqlite3
*.pyc
config/
logging/*.log*
logs/*.log*
*.mo
*.db
*.mo
test.rc
*.bak
.sass-cache/
htmlfield/
fabric_settings*
.idea/
*.swp
env/
*.map
site_media*
locust/
deps/
git_version
.vscode
.DS_Store
*.sublime-project
*.sublime-workspace
node_modules*
*.todo
__pycache__/
dist/
cypress/
!frontend/cypress/