@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --dark-color-lightness: 17%;
    --light-color-lightness: 95%;
    --white-color-lightness: 100%;
  
    --color-dark: hsl(252, 30%, var(--dark-color-lightness));
    --color-white: hsl(252, 30%, var(--white-color-lightness));
    --color-light: hsl(252, 30%, var(--light-color-lightness));
    --sticky-top-right: -18rem;
    --card-border-radius: 1rem;
    --card-padding: 1rem;
    --color-success: hsl(120, 95%, 65%);

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--color-dark);
    background: var(--color-light);
    overflow-x: hidden;
}

.profile-photo {
    width: 5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}


img {
    display: block;
    width: 100%;
}

main {
    position: relative;
    top: 3rem;
}

/* ----------- Right ------------- */
main .right{
    height: max-content;
    position: sticky;
    top: var(--sticky-top-right);
    bottom: 0;
}

.right .messages{
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
}

.right .messages .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.right .messages i {
    font-size: 1.4rem;
}

#message-search {
    width: 1000px;
}

.right .messages .search-bar{
    display: flex;
    margin-bottom: 1rem;
}






.right .messages .message {
    display: flex;
    gap:1rem;
    margin-bottom: 1rem;
    align-items: start;
}

.right .message .profile-photo{
    position: relative;
    overflow: visible;
}

.right .profile-photo img{
    border-radius: 50%;
}

.right .messages .message:last-child{
    margin: 0;
}

.right .messages .message p{
    font-size: 0.8rem;
}

.right .messages .message .profile-photo .active{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    border: 3px solid var(--color-white);
    background: var(--color-success);
    position: absolute;
    bottom: 0;
    right: 0;
}