{% extends "base.html" %}

{% block content %}
<h1>Search for Users</h1>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <input type="text" class="form-control" name="search_term" value="{{ query }}">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<hr>
<h2>Search Results:</h2>
{% if users %}
<table>
    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No users found.</p>
{% endif %}
{% endblock %}